*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.profile{
    width: 100%;
    float: left;
    color: rgb(212, 208, 236);
    background-image: url("../images/wallpaper\ 5.jpg");
    background-size: cover;
}
.wrapper_profile{
    background-color: rgba(89, 37, 106, 0.42);
    padding: 30px 20px;
    float: left;
    width: 100%;
}
.photo_name{
    column-width: 50%;
    float: center;
    padding: 15px;
    margin: 0 25%;
    background-color: rgba(96, 69, 112, 0.63);
    border-radius: 10px;
}
.photo_name img{
    padding: 160px;
    width: 160px;
    border-radius: 50%;
    float: center;
}
.photo_name h1{
    padding: 40x 50px;
    float: center;
}
.detail_profile{
    float: left;
    text-align: center;
    width: 100%;
}
.detail_profile h3{
    margin-block-end: 2px;
}
.detail_profile p{
    margin-block-start: 2px;
}
.hobbies{
    width: 100%;
    background-color: rgba(103, 77, 146, 0.866);
    margin-top: 5px;
    float: left;
}

.hobbies h3{
    text-align: center;
    background-color: #a49fdfde;
    padding: 20px;
    margin: 0;
}
.flex_box{
    display: flex;
}
.flex_box li{
    flex: auto;
    list-style: none;
    padding: 30px;
}
.flex_box img{
    width: 100%;
    padding: 10%;
    border-radius: 5%;
    background-color: rgba(237, 248, 248, 0.3);
}
.flex_box h4{
    text-align: center;
}
.education{
    width: 100%;
    background-color: rgba(103, 77, 146, 0.866);
    margin-top: 5px;
    float: left;
    padding-bottom: 20px;
}
.education h3{
    text-align: center;
    background-color: #a49fdfde;
    padding: 20px;
    margin: 0;
}
.container{
    margin: 20px auto;
    width: 405;
}
.edu_left{
    float: left;
    width: 100%;
    border-color: rgba(89, 37, 106, 0.42);
    border-style: solid none solid solid;
    padding: 10px;
    text-align: left;
}
.edu_right{
    float: right;
    width: 100%;
    border-color: rgba(89, 37, 106, 0.42);
    border-style: none solid none none;
    padding: 10px;
    text-align: right;
}
.footer{
    background-image: url(../images/wallpaper\ 5.jpg);
    background-position-y: center;
    height: 120px;
    float: left;
    width: 100%;
    padding: 20px 30px;
    color: whitesmoke;
    margin-top: 5px;
}
.listfooter ul{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}
.listfooter li{
    height: 24px;
    list-style: none;
    margin: 5px;
}
.footer h2{
    float: left;
}
.footer a{
    float: left;
    color: rgb(167, 167, 233);
    text-decoration: none;
}
.footer img{
    float: left;
    margin-right: 5px;
    width: 20px;
}